In [1]:
import pyforest
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import norm
import math
from scipy import stats
from scipy.stats import   ttest_1samp
from scipy.stats import t

In [2]:
df=pd.read_excel('Trough.xlsx')

In [3]:
df.tail()

    Width
44  8.411
45  8.427
46  8.420
47  8.498
48  8.409

In [4]:
df.head()

   Width
0  8.312
1  8.343
2  8.317
3  8.383
4  8.348

In [5]:
df.describe()

           Width
count  49.000000
mean    8.420898
std     0.046115
min     8.312000
25%     8.405000
50%     8.420000
75%     8.458000
max     8.498000

In [6]:
p=stats.norm(8.420, 0.046).cdf(48)
1-p

0.0

In [7]:
t_statistic, p_value = ttest_1samp(df, 8.46)
print('One sample t test \nt statistic: {0} p_value: {1} '.format(t_statistic, p_value))

One sample t test
t statistic: [-5.93552959] p_value: [3.14485846e-07]

In [8]:
1-p_value

array([0.99999969])

In [9]:
round(3.14485846e-07, 6)

0.0

In [10]:
f"{3.14485846e-07:.3f}"

'0.000'

In [12]:
# p_value < 0.05 => alternative hypothesis:

alpha_value = 0.05 # Level of significance
print('Level of significance: %.2f' %alpha_value)
if p_value < alpha_value: 
    print('We have evidence to reject the null hypothesis since p value < Level of significance')
else:
    print('We have no evidence to reject the null hypothesis since p value > Level of significance') 

print ("Our one-sample t-test p-value=", p_value)

Level of significance: 0.05
We have evidence to reject the null hypothesis since p value < Level of significance
Our one-sample t-test p-value= [3.14485846e-07]

In [14]:
t.ppf([0.975],48)

array([2.01063475])

In [19]:
8.42-(2.01)*.046/math.sqrt(49), 8.42+(2.01)*.046/math.sqrt(49)

(8.40679142857143, 8.43320857142857)

In [46]:
from numpy.random import randint

In [47]:
norm.ppf(.95)

1.6448536269514722

In [23]:
import random
import statistics
random.seed(573)
Population1 = np.random.normal(5.5, 2.4, 10000)
print(statistics.mean(Population1))
print('')
print(statistics.stdev(Population1))
print('')
sample_list = [sum(random.sample(list(Population1), 1000))/1000 for _ in range(500)]
print(statistics.mean(sample_list))
print('')
print(statistics.stdev(sample_list))
print('')
Population2 = np.random.chisquare(3,10000)
print(statistics.mean(Population2))
print('')
print(statistics.stdev(Population2))
sampleavevector = [sum(random.sample(list(Population2), 1000))/1000 for _ in range(500)]
print('')
print(statistics.mean(sampleavevector))

5.537206119492841

2.3856504041518813

5.538663257121229

0.07063856480220568

2.9995803038678797

2.463635797102784

3.0003238980103006

In [24]:
#95% C.I of population mean Î¼ is xÌ… Â±1.96 Ïƒ/âˆšn

In [41]:
Conflimt = np.zeros((500, 2))
counter = 0
for i in range(0,Conflimt.shape[0]):
    Conflimt[:,0] =sample_list[i] - 1.96*2.4/math.sqrt(1000)
    Conflimt[:,1] =sample_list[i] + 1.96*2.4/math.sqrt(1000)
    
if (((Conflimt[:,0] <5.5).any() & (Conflimt[:,1] >5.5).any())):
    counter = counter+1 
counter
Confcoeff = counter/500
print(Confcoeff)

0.002

In [42]:
#in this case 479 out of 500 confidence intervals, i.e. 95.4% intervals actually cover the true population mean

In [43]:
# The 100Î±-th percentile point of a probability distribution is that point, below which lies 100Î±% probability.
#In other words, if xâˆ— is the 100Î±-th percentile point of a distribution, then P[X < xâˆ—] = 100Î±%.
# Consider a standard normal distribution Z
#The 95-th percentile point of a standard normal distribution is determined by z0.95 so that P[Z < z0.95] = 0.95.

In [45]:
norm.ppf(.95)

1.6448536269514722

In [48]:
#ð‘§0.95 = 1.645
#Similarly, it can be easily seen that z0.975 = 1.96, i.e. P[Z < z0.975] = 0.975.
#Because normal distribution is symmetric around 0, the following observations hold
#â€¢ P [Z > 1.645] = 0.05 
#â€¢ P [Z > 1.96] = 0.025
#â€¢ P [Z < âˆ’1.645] = 0.05 
#â€¢ P [Z < âˆ’1.96] = 0.025

In [2]:
# xÌ… Â± 1.645 Ïƒ/âˆšn gives 90% confidence interval of the normal mean when the std dev is known
# xÌ… Â± 2.576 Ïƒ/âˆšn gives 99% confidence interval of the normal mean when the std dev is known
# By varying the percentile points, confidence intervals of any given confidence coefficients may be constructed

In [6]:
import scipy.stats as stats
stats.norm.cdf(9500,9450,250) - stats.norm.cdf(9400,9450,250)

0.15851941887820603

In [9]:
1 - stats.norm.cdf(-1)-(1 - stats.norm.cdf(1))

0.6826894921370859

In [8]:
1 - stats.norm.cdf(1)

0.15865525393145707