In [3]:
import pyforest

In [5]:
%matplotlib inline

In [6]:
mydata = pd.read_csv('IRIS (2).csv')

In [11]:
mydata.head()

   Unnamed: 0  sepal length  sepal width  petal length  petal width
0           0           5.1          3.5           1.4          0.2
1           1           4.9          3.0           1.4          0.2
2           2           4.7          3.2           1.3          0.2
3           3           4.6          3.1           1.5          0.2
4           4           5.0          3.6           1.4          0.2

In [12]:
mydata.shape

(150, 5)

In [13]:
mydata.isnull().sum()

Unnamed: 0      0
sepal length    0
sepal width     0
petal length    0
petal width     0
dtype: int64

In [20]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    150 non-null    int64
 1   sepal length  150 non-null    float64
 2   sepal width   150 non-null    float64
 3   petal length  150 non-null    float64
 4   petal width   150 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [23]:
mydata.describe()

       Unnamed: 0  sepal length  sepal width  petal length  petal width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    74.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      0.000000      4.300000     2.000000      1.000000     0.100000
25%     37.250000      5.100000     2.800000      1.600000     0.300000
50%     74.500000      5.800000     3.000000      4.350000     1.300000
75%    111.750000      6.400000     3.300000      5.100000     1.800000
max    149.000000      7.900000     4.400000      6.900000     2.500000

In [26]:
mydata.mean()

Unnamed: 0      74.500000
sepal length     5.843333
sepal width      3.057333
petal length     3.758000
petal width      1.199333
dtype: float64

In [28]:
mydata.median()

Unnamed: 0      74.50
sepal length     5.80
sepal width      3.00
petal length     4.35
petal width      1.30
dtype: float64

In [30]:
mydata.mode()

     Unnamed: 0  sepal length  sepal width  petal length  petal width
0             0           5.0          3.0           1.4          0.2
1             1           NaN          NaN           1.5          NaN
2             2           NaN          NaN           NaN          NaN
3             3           NaN          NaN           NaN          NaN
4             4           NaN          NaN           NaN          NaN
..          ...           ...          ...           ...          ...
145         145           NaN          NaN           NaN          NaN
146         146           NaN          NaN           NaN          NaN
147         147           NaN          NaN           NaN          NaN
148         148           NaN          NaN           NaN          NaN
149         149           NaN          NaN           NaN          NaN

[150 rows x 5 columns]